# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/build/release-trash
/build/debug-bin
/build/debug-lib
/build/debug-trash
/build/release-bin
/build/release-lib
